.copy-btn {
    float: right;
    background: #666666;
    border: 0;
    color: #d0d0d0;
}
div#headingOne2 {
    margin-bottom: 7px;
    margin-top: 7px;
}

        body {
            color: #e6e6e6;
            text-align: left;
            background-color: #3b3b3b;
        }
        div#accordions {
            margin-bottom: 4px;
        }
        .btn.btn-link {
            background: #2b2b2b !important;
            border: 0 !important;
            border-radius: 0;
        }

        .logo-2 {
            width: 70px;
            height: 40px;
        }

        span.laravel {
            color: #f21c1c;
            font-size: 13px;
            transform: rotate(329deg);
            position: absolute;
            margin-top: 3px;
        }

        nav.navbar.navbar-light.bg-light {
            padding: 0;
            margin-bottom: 22px;
            height: 58px;
            position: fixed;
            width: 100%;
            z-index: 999;
        }

        .bg-light {
            background-color: #2b2b2b !important;
        }

        .container {
            padding-top: 5pc;
        }

        .center {
            align-items: center;
            justify-content: center;
            display: flex;
        }

        img.logo {
            width: 17pc;
        }

        a.text-reset.fw-bold {
            color: red;
        }


        div#accordion {
            margin-bottom: 12px;
        }


        span.url-name {
            font-size: 14px;
            font-weight: 500;
        }

        .request-response {
            margin-top: 12px;
        }


        .response {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
            background: rgb(51, 51, 51);
            color: white;
            max-height: 25pc;
        }

        .modal-content {
            background: #373737 !important;
        }

        button.btn.btn-secondary {
            width: 6pc;
            font-weight: bold;
            border-radius: 0;
        }

        .auth-btn {
            z-index: 8;
        }

        .btn.btn-link.post-bar.collapsed:hover {
            z-index: 0 !important;
        }

        .card-header {
            background: #1a1a1a !important;
            color: #c4c4c4 !important;
            border-radius: 0 !important;
        }

        .form-control,
        .form-control:active,
        .form-control:focus,
        .form-control:hover {
            background: #2b2b2b;
            border: 0;
            border-radius: 0;
            color: #f2f2f2;
        }

        .post-bar {
            background: #666666 !important;
            /* background: hsl(154deg 44% 94%) !important;
        border: 1px solid hsl(154deg 100% 72%) !important; */
        }

        .get-bar {
            /* background: hsl(210deg 67% 95%) !important;
        border: 1px solid hsl(210deg 86% 71%) !important; */
            background: #666666 !important;
        }

        .put-bar {
            /* background: hsl(28deg 67% 95%) !important;
        border: 1px solid hsl(33deg 86% 71%) !important; */
            background: #666666 !important;
        }

        .delete-bar {
            /* background: hsl(0deg 67% 95%) !important;
        border: 1px solid hsl(0deg 86% 71%) !important; */
            background: #666666 !important;
        }

        .btn-method {
            width: 6pc;
            margin-right: 1pc;
            font-weight: bold;
            border-radius: 0;
        }

        span.title {
            margin-left: 3pc;
            color: #cac6c6;
        }

        .get-button {
            background: hsl(210deg 100% 68%);
            color: #fff;
        }

        .post-button {
            background: hsl(153deg 58% 53%);
            color: #fff;
        }

        .put-button {
            background: hsl(36deg 99% 54%);
            color: #fff;
        }

        .delete-button {
            background: hsl(0deg 69% 56% / 66%);
            color: #fff;
        }


        .get-button:hover {
            background: hsl(210deg 100% 68%);
            color: #fff;
        }

        .post-button:hover {
            background: hsl(153deg 58% 53%);
            color: #fff;
        }

        .put-button:hover {
            background: hsl(36deg 99% 54%);
            color: #fff;
        }

        .delete-button:hover {
            background: hsl(0deg 69% 56% / 66%);
            color: #fff;
        }



        .btn-group {
            background: #3b3b3b;
        }



        div#headingOne {
            margin: 0;
            padding: 0;
            border: 0;
        }

        b.url-head {
            padding-right: 1pc;
            color: #c4c4c4;
        }

        p.function-name {
            margin: 0;
        }

        .btn:focus {
        }

        .card-header {
            background: #fff;
        }

        td.params-td {
            border-bottom: 1px solid #bbb;
            padding: 1px 10px 3px 0px;
        }

        td.params-body-td {
            padding: 5px 20px 5px 0px;
        }

        .card-body {
            padding: 0;
        }

        .padding {
            padding: 1rem 1rem !important;
        }

        .execute {
            margin-top: 1pc;
            width: 100%;
        }

        .w-100 {
            width: 100%;
        }

        .w-4 {
            width: 4pc;
        }

        .btn-group {
            width: 100%;
        }

        img.lock {
            width: 28px;
        }

        button.btn.btn-primary {
            background: #fff;
            border: 0;
        }

        .required {
            color: red;
            font-style: italic;
        }

        .nullable {
            font-style: italic;
        }

        .opa {
            background: #fff0 !important;
        }

        button.btn.btn-top {
            border-radius: 0;
            background: #3b3b3b;
            color: #bbb;
            font-weight: bold;
        }
        .btn.btn-link {
            width: 100%;
            display: -webkit-inline-box;
        }

        .btn.btn-link {
            text-decoration: none;
        }

        .card {
            border: 0;
        }
